<h1>Edit User</h1>
<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :fname, "First Name" %><br />
    <%= f.text_field :fname %>
  </div>
  <div class="field">
    <%= f.label :lname, "Last Name" %><br />
    <%= f.text_field :lname %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <% if current_user.admin? %>
  <div class="field">
    <%= f.label :user_type, "User Type" %><br />
    <%= f.text_field :user_type %>
  </div>
<% end %>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<div>
  <%= gravatar_for @user %>
  <%= link_to "Change (You'll need to create a Gravatar account if you don't have one)", "http://gravatar.com/emails", :target => "_blank" %>
</div>