<div id='ympchart'>
	</div>
	<%= render_chart(@mileage_breakdown_year, 'ympchart') %>
<br />
<% if current_user == @user %>
  <%= link_to "Log a run!", new_activity_path, :class => "log_run_button round" %>
<% end %>
<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.fname %>
      </h1>
      
      <% unless @user.activities.empty? %>
        <table class="activities" summary="User Activities">
          <%= render @activities %>
        </table>
        <%= will_paginate @activities %>
      <% end %>
    </td>
    <td class="sidebar round">
        <%= render 'shared/user_info', :object => @user %>
    </td>
  </tr>
</table>