
<div align="center">
<strong>
<h3>Average Speed</h3>
<input id="rbYearMPH" type="radio" checked="true" name="rbTimeSpan" onclick="setDivVisibility('divMPHYear', ['divMPHWeek']); changeGauge(-1, 'year');"/>Year
<input id="rbWeekMPH" type="radio" name="rbTimeSpan" onclick="setDivVisibility('divMPHWeek', ['divMPHYear']); changeGauge(-1, 'week');"/>Week

<div id="avgmph" style="align:center; width:200px; height: 200px;" ></div>

<div id="divMPHYear">
<input id="rbYearRun" type="radio" name="rbYear" onclick="changeGauge(<%= @average_mph[:year_run] %>, 'year');"/>Run
<input id="rbYearWalk" type="radio" name="rbYear" onclick="changeGauge(<%= @average_mph[:year_walk] %>, 'year');"/>Walk
<input id="rbYearOverall" type="radio" name="rbYear" onclick="changeGauge(<%= @average_mph[:year_overall] %>, 'year');"/>Overall
</div>
<div id="divMPHWeek" style="display:none">
<input id="rbWeekRun" type="radio" name="rbWeek" onclick="changeGauge(<%= @average_mph[:week_run] %>, 'week');"/>Run
<input id="rbWeekWalk" type="radio" name="rbWeek" onclick="changeGauge(<%= @average_mph[:week_walk] %>, 'week');"/>Walk
<input id="rbWeekOverall" type="radio" name="rbWeek" onclick="changeGauge(<%= @average_mph[:week_overall] %>, 'week');"/>Overall
</div>
</strong>
</div>
<br />
<div style="align: center; width: 100%; height: 1px; border-top: 1px solid silver;"></div>
<div align="center" width="100%" style="display: inline-block;">
<div id='ympchart' width="45%" style="float: left">
	</div>
<div id='wdaybreakdown' width="45%" style="float: right"> </div>
<br />
<br />




<%= render_chart(@wdaybreakdown, 'wdaybreakdown') %>
	<%= render_chart(@mileage_breakdown_year, 'ympchart') %>
	<!--< #render_chart(@average_mph, 'avgmph') %>-->
</div>
	<!--<div id='ysatlchart' style='width: 660px; height: 240px;'></div>-->
<!--< #render_chart(@speed_annotated_timeline, 'ysatlchart') %> -->
<br />
<h4>If you keep checking back, there might be something new here...</h4>

<div>
<script type="text/javascript">
   
	  
</script>
</div>