<div id=<%= "leaderboard_" + board_type.downcase %> style="<%= "display: #{board_type == "Year" ? "block" : "none"}"%>">
<% unless leader_items.empty? %>
<h3>Leaders for the <%= board_type %></h3>
<table class="leaderboard round" summary="Leaders"=>
  <tr>
    <th>Rank</th>
    <th class="leadername">Name</th>
	<th>Miles Run</th>
	<th>Miles Walked</th>
    <th>Total Miles</th>
    <th>Time<br />(hh:mm)</th>
  </tr>
  <%= render :partial => 'shared/leader_item', :collection => leader_items %>
</table>
*Note: Miles Run includes miles logged as a run/walk
<% else %>
<h3>No leaderboard information for the <%= board_type.downcase %></h3>
<% end %>
</div>