<div class="user_info">
  <a href="<%= user_path(object) %>">
    <%= gravatar_for object, :size => 30 %>
    <strong><%= "#{object.fname} #{object.lname}" %></strong><br />    
  </a>
  <br />
    <span class="activities">
  <strong>Runs Logged</strong> <%= object.activities.count %>
  <br />
  <br />
    <strong>This Week</strong><br />
      <%= pluralize(object.total_miles("week"), "mile") %> in
      <%= total_time_s(object, "week") %><br />
	  Ideal Distance: <%= pluralize(ideal_progress("week"), "mile") %>
	<span>
	<%= progress_bar(object, "week") %>
    </span>
	<div align="right"><%= pluralize(object.miles_left("week"), "mile") %> left</div>
	<br />
    <div style="font-weight:bold; float:left">The Year</div><div style="font-size: 8pt; float: right;">(Beginning 12/4/2011)</div><br />
      <%= pluralize(object.total_miles("year"), "mile") %> in
      <%= total_time_s(object, "year") %><br />
	  Ideal Distance: <%= pluralize(ideal_progress("year"), "mile") %>
	<span>
	<%= progress_bar(object, "year") %>
    </span>
	<div align="right"><%= pluralize(object.miles_left("year"), "mile") %> left</div>
	<br />
    <% if current_user.admin? %>
      <strong>User Type</strong><br />
      <%= object.user_type %>
	  <br />
	  <strong>Privileges</strong><br />
	  <%= object.admin? ? "Administrator" : "Regular User" %>
    <% end %>
	</span>
  </div>
