<div class="user_info">
  <a href="<%= user_path(object) %>">
    <%= gravatar_for object, :size => 30 %>
    <strong><%= "#{object.fname} #{object.lname}" %></strong><br />    
  </a>
  <br />
  <br />
  <!--<strong>URL</strong>  <%= link_to user_path(object), object %><br />-->
  <strong>Runs Logged</strong> <%= object.activities.count %>
  <br />
  <br />
    <strong>Total for Year</strong><br />
    <span class="activities">
      <%= pluralize(total_miles(object, "year"), "mile") %> in 
      <%= pluralize(total_time(object, "year"), "hour") %>
    </span>
    <br />
    <br />
    <strong>Total this Week</strong><br />
    <span class="activities">
      <%= pluralize(total_miles(object, "week"), "mile") %> in 
      <%= pluralize(total_time(object, "week"), "hour") %>
    </span>
    <br />
    <br />
    <strong>Mileage Remaining</strong><br />
    <span class="activities">
      <%= pluralize(miles_left(object, "year"), "mile") %> left this <strong>year</strong><br /> 
      <%= pluralize(miles_left(object, "week"), "mile") %> left this <strong>week</strong>
    </span>
    <br />
  </div>
