<% if signed_in? %>
<!--Display personal stats-->
<h3 align="center">
  You have gone
  <%= pluralize(current_user.total_miles("week"), "mile") %>
  this week and have
  <%= pluralize(current_user.miles_left("week"), "mile") %>
  to go!
  <br />
  <br />
  <%= link_to "NEW! Check out the statistics page!", statistics_path %>
</h3>
<table class="front" summary="For signed-in users">
    <tr>
      <td class="main">    
        <h3>Recent Activities</h3>
        <%= link_to "View Current Leaders", root_path + "#leaderboards" %> 
        <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">        
        <%= link_to "Log a run!", new_activity_path, :class => "log_run_button round" %><br />
        <%= render 'shared/user_info', :object => current_user %>
        
      </td>
    </tr>
  </table>
<br />
<div id="leaderboards">
<%= link_to "Back to Top", root_path + "#top" %>
<br />
<%= render 'shared/week_year_toggle', :items => ['leaderboard_year', 'leaderboard_week']%>
<%= render 'shared/leaderboard', :leader_items => @yearly_leader_items, :board_type => "Year" %>
<%= render 'shared/leaderboard', :leader_items => @weekly_leader_items, :board_type => "Week" %>
<br />
<%= link_to "Don't see yourself? View the full list!", leaderboards_path, :class => "view_leaderboards_button round" %>
</div>
  <% else %>
    <h1>Run 500 Miles</h1>
<p>
  This is the home page for the
  Run 500 Miles application.
</p>
<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>