<tr>
  <td class="activity">
    <span class="content">
      <%=activity.user.fname %> <%=activity_type_s(activity.activity_type) %> <%= pluralize(activity.distance, "mile") %> in
      <% if activity.hours > 0 %>
        <%= pluralize(activity.hours, "hour") %>
      <% end %>
      <% if activity.hours > 0 && activity.minutes > 0 %>, <% end %>
      <% if activity.minutes > 0 %>
        <%= pluralize(activity.minutes, "minute") %>
      <% end %>
      on
      <%= activity.activity_date.strftime("%B %e, %Y") %><br />
      <% if !activity.location.blank? %>
        <strong>Location: </strong><%= wrap(activity.location, 30) %><br />
      <% end %>
      <% if !activity.comment.blank? %>
        <strong>Comment: </strong><%= wrap(activity.comment, 30) %>
      <% end %>
    </span>
    <span class="timestamp">
      Logged <%= time_ago_in_words(activity.created_at) %> ago.
    </span>
  </td>
  <% if current_user?(activity.user) %>
    <td>
      <%= link_to "edit", edit_activity_path(activity) %>
    </td>
  <td>
	<%= link_to "delete", activity, :confirm => "Are you sure?", :method => :delete, :remote=>true, :class=>"delete_activity" %>
  </td>
  <% end %>
</tr>