<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "About", about_path %></li>
      <!--<li><%= link_to "Help", help_path %></li> -->
    </ul>
  </nav>
  <br />
  <% case Date.today.month %>
	<%	when 1 %>
		<%= link_to "Background Brush Credit: Rinisaki", "http://rinisaki.deviantart.com", :target => "_blank" %>
	<%	when 2 %>
		<%= link_to "Background Brush Credit: Obsidian Dawn", "http://www.obsidiandawn.com", :target => "_blank" %>
	<%	when 3 %>
		<%= link_to "Background Brush Credit: Obsidian Dawn", "http://www.obsidiandawn.com", :target => "_blank" %>
	<%	when 4 %>
		<%= link_to "Background Brush Credit: ", "", :target => "_blank" %>
	<%	when 5 %>
		<%= link_to "Background Brush Credit: ", "", :target => "_blank" %>
	<%	when 6 %>
		<%= link_to "Background Brush Credit: ", "", :target => "_blank" %>
	<%	when 7 %>
		<%= link_to "Background Brush Credit: ", "", :target => "_blank" %>
	<%	when 8 %>
		<%= link_to "Background Brush Credit: ", "", :target => "_blank" %>
	<%	when 9 %>
		<%= link_to "Background Brush Credit: ", "", :target => "_blank" %>
	<%	when 10 %>
		<%= link_to "Background Brush Credit: ", "", :target => "_blank" %>
	<%	when 11 %>
		<%= link_to "Background Brush Credit: ", "", :target => "_blank" %>
	<%	when 12 %>
		<%= link_to "Background Brush Credit: ", "", :target => "_blank" %>
	<% end %>
</footer>